<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Log in</title>
</head>

<body>
  <h5>Hi Welcome! Please log in!</h5>

  <form class="form-inline" action="/login" method="POST">
    <label for="email">Email:</label>
    <input class="form-control" type="email" name="email" placeholder="xxx@email.com"
      style="width: 200px; height: 48px" />
    </br>
    <label for="password">Password:</label>
    <input class="form-control" type="password" name="password" placeholder="" style="width: 200px; height: 48px" />
    </br>
    <button type="submit" class="btn-outline-dark btn-lg"
      style="margin-left: 0.5em; background-color: transparent;">Login</button>
  </form>

</body>
</html>